-require 'log_parse'
-@title = "#{@server.name} > #{@chatroom.name} > #{@logfile.name}"
%h1
  Grep:
  %a{:href => "/browse"} All Servers
  \>
  %a{:href => "/browse/#{escape @server.name}"}=@server.name
  \>
  %a{:href => "/browse/#{escape @server.name}/#{escape @chatroom.name}"}=@chatroom.name
  \>
  %a{:href => "/browse/#{escape @server.name}/#{escape @chatroom.name}/#{escape @logfile.name}"}=@logfile.name

%a{:href => "/browse/#{escape @server.name}/#{escape @chatroom.name}/#{escape @logfile.name}"} Back to listing
.grep=haml(:grep_form, :layout => false)
.grep_results=haml(:grep_results, :layout => false)