-@title = "#{@server.name} > #{@chatroom.name}"
%h1
  %a{:href => "/browse"} All Servers
  \>
  %a{:href => "/browse/#{escape @server.name}"}=@server.name
  \>
  =@chatroom.name
  
.grep=haml(:grep_form, :layout => false)

%ul
  -prev_year, prev_month = 0,0
  -@chatroom.each do |logfile|
    :ruby
      year, month, day = logfile.name.gsub(/(\d{4})(\d{2})(\d{2})/, "\\1 \\2 \\3").split(' ')
      message = if year != prev_year
        prev_year = year
      elsif month != prev_month
        prev_month = month
      else
        nil
      end
    -if message
      %li
        %strong #{year} - #{month}
    %li
      %a{:href => "/browse/#{escape @server.name}/#{escape @chatroom.name}/#{escape logfile.name}"}=logfile.name