-require 'log_parse'

%h1 #{@server.name} > #{@chatroom.name} > #{@logfile.name}
%p 
  %a{:href => "/browse"} Back
  |
  %a{:href => "/browse/#{escape @server.name}"} Back to #{@server.name}
  |
  %a{:href => "/browse/#{escape @server.name}/#{escape @chatroom.name}"} Back to #{@chatroom.name}

.log-contents
  - @logfile.safe_read.each_line do |line|
    =log_line_parse(line)