-require 'log_parse'
-@title = "#{@server.name} > #{@chatroom.name} > #{@logfile.name}"
%h1
  %a{:href => "/browse"} All Servers
  \>
  %a{:href => "/browse/#{escape @server.name}"}=@server.name
  \>
  %a{:href => "/browse/#{escape @server.name}/#{escape @chatroom.name}"}=@chatroom.name
  \>
  =@logfile.name

=haml(:grep_form, :layout => false)

.log-contents
  - @logfile.safe_read.each_line do |line|
    =log_line_parse(line)